html,body{
	height: 99%;
	width: 99%;
}
*{
	box-sizing: border-box;
}
.banner{
	background-color: rgba(159,166,104,0.4);
  background-color: #f89f63;
	margin: 15px;
	padding: 10px;
	border: 3px solid #ff944d;
	box-shadow: 1px 3px 30px 1px #ffac75;
	text-transform: capitalize;
	text-shadow: 1px 1px #ffb54d ;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 120px;
	text-align: right;
	font-style: oblique;
  
}
h1{
	font-size: 0.7em;
}

#logo{
	width: 75px;
	position: absolute;
	top: 50px;
	right: 150px;
}
.container{
  background-image:url(SunSet.png);
	border:2px #ffac4d solid;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 700px;
	overflow: hidden;
	background-color: rgba(159,166,104,0.4);
}
.wave{
	border: #f9a058 1px solid;
	color: #090202;
	text-align: center;
	background-color:#ffa34d rgba(105,73,126, 0.5);
	font-size: 0.9em;
	height: 25px;
	overflow: hidden;
	width: 80%;
  
	position:relative;
	left: 10%;
	transition: height 4s;
	display:block;
}
#l1{
	border:#ffa052 1px solid;
	background-image:repeating-linear-gradient(#ffa552, #f8ab63);

}

.wave:hover{

	height:90%;

	top:1px;
	z-index:1;
}
#e
